// varible file import
@import "./variable";

// SMALL DEVICES
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// MEDIUM DEVICES
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// for max width website
@mixin responsive_width_set {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

// for button
@mixin blackBtn($backgroundColor, $textColor) {
  padding: 0.6rem 0.7rem;
  @include md {
    padding: 0.6rem 0.9rem;
  }
  border: 1px solid $backgroundColor;
  outline: none;
  color: $textColor;
  border-radius: 4px;
  background-color: $backgroundColor;
  transition: all 0.3s ease-in-out;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

// tooltip
@mixin tooltip($width: auto) {
  width: $width;
  background-color: rgb(128, 128, 128);
  color: #fff;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 888;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 6px;
}

// presets
@mixin preset {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ff00bf;
  color: #ff00bf;
  border: none;
  outline: none;
}
