@import "./mixin";
@import "./variable";

.BasicInformation {
  width: 100%;
  min-height: 55vh;
  @include responsive_width_set;
  padding: 1rem 1rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  @include md {
    margin-top: 0rem;
    padding: 1rem 2rem;
  }

  .picture_upload {
    width: 200px;
    height: 200px;
    margin-bottom: 2rem;
    @include md {
      margin-bottom: 0rem;
    }
    border-radius: 50%;
    background-size: cover;
    background-color: rgba(128, 128, 128, 0.24);
    position: relative;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-size: cover;
    }

    .add_photo {
      position: absolute;
      bottom: 5%;
      right: 5%;
      background-color: rgb(133, 133, 133);
      color: rgb(255, 255, 255);
      border-radius: 50%;
      font-size: 2.3rem;
      padding: 0.4rem;
      z-index: 200;
      cursor: pointer;
      transition: all 0.1s ease-in-out;

      &:active {
        scale: 0.9;
      }
    }

    .file_input {
      display: none;
    }
  }

  .flex {
    width: 100%;
    @include md {
      width: 75%;
    }
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    @include md {
      flex-wrap: nowrap;
    }
    @include md {
      margin-top: 1rem;
    }

    input,
    textarea {
      width: 100%;
      padding: 0.6rem 0.4rem;
      font-size: 0.9rem;
      border-radius: 3px;
      margin-top: 0.4rem;
      margin-bottom: 1.2rem;
      @include md {
        margin-bottom: 0.5rem;
      }
      outline: none;
      border: 1px solid rgb(131, 131, 131);

      &:focus {
        border: 1px solid #0098fd;
        outline: 1px solid #0098fd;
      }
    }

    .widthFull {
      width: 100%;
    }

    label {
      font-weight: 600;
    }

    .left {
      width: 100%;
      @include md {
        width: 48%;
      }
    }

    .right {
      width: 100%;
      @include md {
        width: 48%;
      }

      .presentDiv {
        width: 100%;
        display: flex;
        gap: 6px;
        align-items: center;

        input {
          width: 15px;
          border: none;
          outline: none;
          cursor: pointer;
        }
      }
    }
    textarea {
      height: 150px;
    }
  }

  button {
    @include blackBtn($primary-color, $secondary-color);
    margin-top: 0.5rem;
    @include md {
      margin-top: 1.5rem;
    }
  }
}
